<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card>
      <mat-card-content>
      
      <h1>Вход в аккаунт</h1>
  
      <mat-form-field appearance="fill">
        <mat-label>Логин</mat-label>
        <input matInput type="text" formControlName="login">
      </mat-form-field>
    
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Войти
      </button>
      </mat-card-content>
    </mat-card>
  </form>
  </div>