<h1 mat-dialog-title>Лог звонка</h1>
<div mat-dialog-content>
  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h1>Звонок от {{ data.begining | date: "dd/MM/yyyy HH:mm" }}</h1>

      <mat-form-field appearance="fill">
        <mat-label>ФИО</mat-label>
        <input matInput type="text" formControlName="caller" />
      </mat-form-field>

      <div class="timeForm">
        <mat-form-field appearance="fill">
          <mat-label>Дата начала</mat-label>
          <input
            matInput
            [matDatepicker]="beginingPicker"
            formControlName="begining"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="beginingPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #beginingPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Время начала</mat-label>
          <div class="beginingTime">
            <input
              class="timePicker"
              matInput
              #beginingTimeInput
              [ngxTimepicker]="beginingTime"
              [format]="24"
              formControlName="beginingTime"
            />

            <mat-icon (click)="clickBeginingTime()">access_time</mat-icon>

            <ngx-material-timepicker
              [theme]="darkTheme"
              #beginingTime
            ></ngx-material-timepicker>
          </div>
        </mat-form-field>
      </div>
      <br />

      <div class="timeForm">
        <mat-form-field appearance="fill">
          <mat-label>Дата конца</mat-label>
          <input
            matInput
            [matDatepicker]="endingPicker"
            formControlName="ending"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="endingPicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #endingPicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Время конца</mat-label>
          <div class="beginingTime">
            <input
              class="timePicker"
              matInput
              #endingTimeInput
              [ngxTimepicker]="endingTime"
              [format]="24"
              formControlName="endingTime"
            />

            <mat-icon (click)="clickEndingTime()">access_time</mat-icon>

            <ngx-material-timepicker
              [theme]="darkTheme"
              #endingTime
            ></ngx-material-timepicker>
          </div>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Тип звонка</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Длительность звонка</mat-label>
        <input matInput type="text" formControlName="duration" />
      </mat-form-field>

      <div mat-dialog-actions>
        <button type="submit" color="accent" mat-raised-button mat-dialog-close>
          Сохранить
        </button>
      </div>

      <div mat-dialog-actions>
        <button
          (click)="dropItem()"
          color="warn"
          mat-raised-button
          mat-dialog-close
        >
          Удалить
        </button>
      </div>

      <div mat-dialog-actions>
        <button color="primary" mat-raised-button mat-dialog-close>
          Закрыть
        </button>
      </div>
    </form>
  </div>
</div>
