<div class="container">
  <app-login-first
    *ngIf="userService.user.login.length === 0"
  ></app-login-first>
</div>

<div class="container">
  <table
    *ngIf="userService.user.login.length !== 0"
    mat-table
    [dataSource]="loggingService.logList"
    class="mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Begining Column -->
    <ng-container matColumnDef="begining">
      <th mat-header-cell *matHeaderCellDef>Начало звонка</th>
      <td mat-cell *matCellDef="let element">{{ element.begining | date:'short' }}</td>
    </ng-container>

    <!-- Ending Column -->
    <ng-container matColumnDef="ending">
      <th mat-header-cell *matHeaderCellDef>Конец звонка</th>
      <td mat-cell *matCellDef="let element">{{ element.ending | date:'short' }}</td>
    </ng-container>

    <!-- Caller Column -->
    <ng-container matColumnDef="caller">
      <th mat-header-cell *matHeaderCellDef>ФИО</th>
      <td mat-cell *matCellDef="let element">{{ element.caller }}</td>
    </ng-container>

    <!-- Duration Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Длительность звонка</th>
      <td mat-cell *matCellDef="let element">{{ element.duration }}</td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Тип звонка</th>
      <td mat-cell *matCellDef="let element">{{ element.type }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)="openDialogue(row)" mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
